*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/assetWizardSettings.xml
/.idea/
/gradlew
/gradlew.bat
/../ExpansionPanel/.idea/caches/build_file_checksums.ser
/gradle/wrapper/gradle-wrapper.jar
/../ExpansionPanel/.idea/jarRepositories.xml
/../ExpansionPanel/.idea/modules.xml
